<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<div class="category-management-container">
  <h2>📁 {{ 'T.CAT_PAGE_HEADER' | translate }}</h2>

  <p-toolbar styleClass="mb-4">
    <div class="p-toolbar-group-left">
      <button pButton
              label="{{ 'T.CAT_NEW_BTN' | translate }}"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openCreateModal()"></button>
    </div>
  </p-toolbar>

  <p-table #dt
           [value]="categories"
           dataKey="categoryId"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowHover]="true"
           styleClass="p-datatable-striped"
           currentPageReportTemplate="{{ 'T.PAGINATION_REPORT' | translate }}"
           [paginator]="true"
           [globalFilterFields]="['name','type']">

    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="{{ 'T.CAT_SEARCH_PLACEHOLDER' | translate }}" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem;">{{ 'T.CAT_TABLE_ICON' | translate }}</th>
        <th pSortableColumn="name">{{ 'T.CAT_TABLE_NAME' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="type">{{ 'T.CAT_TABLE_TYPE' | translate }} <p-sortIcon field="type"></p-sortIcon></th>
        <th style="width: 10rem">{{ 'T.CAT_TABLE_ACTIONS' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <i class="pi pi-fw" [ngClass]="'pi-' + category.icon"></i>
        </td>
        <td>{{ category.name }}</td>
        <td>
          <span [class]="'category-type ' + category.type.toLowerCase()">
            {{ category.type }}
          </span>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEditModal(category.categoryId)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="openDeleteModal(category)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">{{ 'T.CAT_NO_CATEGORIES' | translate }}</td>
      </tr>
    </ng-template>

  </p-table>

  <p-dialog [(visible)]="isCategoryModalOpen"
            [header]="isEditMode ? ('T.CAT_EDIT_MODAL_HEADER' | translate) : ('T.CAT_CREATE_MODAL_HEADER' | translate)"
            [modal]="true"
            [style]="{ height: '550px' }"
            styleClass="p-fluid">

    <form *ngIf="selectedCategory" #categoryForm="ngForm">

      <div class="field">
        <label for="name">{{ 'T.CAT_FIELD_NAME' | translate }}</label>
        <input pInputText id="name" type="text" name="name" [(ngModel)]="selectedCategory.name" required autofocus />
      </div>

      <div class="field">
        <label for="type">{{ 'T.CAT_FIELD_TYPE' | translate }}</label>
        <p-dropdown id="type"
                    [options]="categoryTypes"
                    name="type"
                    [(ngModel)]="selectedCategory.type"
                    placeholder="{{ 'T.CAT_SELECT_TYPE_PLACEHOLDER' | translate }}"
                    required></p-dropdown>
      </div>

      <div class="field">
        <label for="icon">{{ 'T.CAT_FIELD_ICON' | translate }} </label>
        <p-dropdown id="icon"
              [options]="iconOptions"
              name="icon"
              [(ngModel)]="selectedCategory.icon"
              placeholder="{{ 'T.CAT_TABLE_ICON' | translate }}">
          <ng-template let-item pTemplate="item">
            <i class="pi pi-fw" [ngClass]="'pi-' + item.value"></i>&nbsp;{{ item.label }}
          </ng-template>
          <ng-template let-selectedItem pTemplate="selectedItem">
            <i class="pi pi-fw" [ngClass]="'pi-' + selectedItem.value"></i>&nbsp;{{ selectedItem.label }}
          </ng-template>
        </p-dropdown>
        <small *ngIf="selectedCategory.icon">
          {{ 'T.CAT_ICON_PREVIEW' | translate }}: <i [class]="'pi pi-fw pi-' + selectedCategory.icon"></i>
        </small>
      </div>

    </form>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="{{ 'T.BTN_CANCEL' | translate }}" icon="pi pi-times" class="p-button-text" (click)="closeCategoryModal()"></button>

      <button pButton pRipple [label]="isEditMode ? ('T.BTN_UPDATE' | translate) : ('T.BTN_SAVE' | translate)"
              icon="pi pi-check"
              class="p-button-success"
              (click)="triggerSave()"
              [disabled]="!categoryForm.valid || isLoading">
      </button>

    </ng-template>
  </p-dialog>


  <p-dialog [(visible)]="isDeleteModalOpen" header="{{ 'T.DELETE_MODAL_HEADER' | translate }}" [modal]="true" [style]="{width: '450px'}">
    <div class="flex align-items-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>{{ 'T.CAT_DELETE_CONFIRM_TEXT' | translate }} <b>{{ categoryToDeleteName }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" (click)="closeDeleteModal()" label="{{ 'T.BTN_NO' | translate }}"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-danger" (click)="confirmDelete()" label="{{ 'T.BTN_YES' | translate }}"></button>
    </ng-template>
  </p-dialog>

</div>
