<div class="category-management-container">
  <h2>📁 Category Management</h2>

  <p-toolbar styleClass="mb-4">
    <div class="p-toolbar-group-left">
      <button pButton
                         label="New Category"
                         icon="pi pi-plus"
                         class="p-button-success mr-2"
                         (click)="openCreateModal()"></button>
    </div>
  </p-toolbar>

  <p-table #dt
                    [value]="categories"
                    dataKey="categoryId"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [loading]="isLoading"
                    [rowHover]="true"
                    styleClass="p-datatable-striped"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [paginator]="true"
                    [globalFilterFields]="['name','type']">

    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search categories" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem;">Icon</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        <th style="width: 10rem">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <i class="pi pi-fw" [ngClass]="'pi-' + category.icon"></i>
        </td>
        <td>{{ category.name }}</td>
        <td>
          <span [class]="'category-type ' + category.type.toLowerCase()">
            {{ category.type }}
          </span>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEditModal(category.categoryId)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="openDeleteModal(category)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No categories found for this user.</td>
      </tr>
    </ng-template>

  </p-table>

  <p-dialog [(visible)]="isCategoryModalOpen"
                     [header]="isEditMode ? 'Edit Category' : 'Create New Category'"
                     [modal]="true"
                     styleClass="p-fluid">

    <!-- 1. Define template variable #categoryForm="ngForm" for @ViewChild access -->
    <form *ngIf="selectedCategory" #categoryForm="ngForm">

      <div class="field">
        <label for="name">Name</label>
        <input pInputText id="name" type="text" name="name" [(ngModel)]="selectedCategory.name" required autofocus />
      </div>

      <div class="field">
        <label for="type">Type</label>
        <p-dropdown id="type"
                                   [options]="categoryTypes"
                                   name="type"
                                   [(ngModel)]="selectedCategory.type"
                                   placeholder="Select Type"
                                   required></p-dropdown>
      </div>

      <div class="field">
        <label for="icon">Icon (e.g., shopping_cart)</label>
        <input pInputText id="icon" type="text" name="icon" [(ngModel)]="selectedCategory.icon" />
        <small *ngIf="selectedCategory.icon">
          Current Icon Preview: <i [class]="'pi pi-fw pi-' + selectedCategory.icon"></i>
        </small>
      </div>

    </form>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeCategoryModal()"></button>

      <button pButton pRipple [label]="isEditMode ? 'Update' : 'Save'"
                     icon="pi pi-check"
                     class="p-button-success" 
              (click)="triggerSave()">
      </button>

    </ng-template>
  </p-dialog>


  <p-dialog [(visible)]="isDeleteModalOpen" header="Confirm Deletion" [modal]="true" [style]="{width: '450px'}">
    <div class="flex align-items-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>Are you sure you want to delete the category <b>{{ categoryToDeleteName }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" (click)="closeDeleteModal()" label="No"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-danger" (click)="confirmDelete()" label="Yes"></button>
    </ng-template>
  </p-dialog>

</div>
