/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.css";
@import "assets/demo/styles/code.css";
