/* register.component.css */

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem 1.5rem 2rem 1.5rem !important;
}

:host ::ng-deep .p-calendar {
  width: 100% !important;
}

:host ::ng-deep .p-float-label > .ng-invalid.ng-dirty + label {
  color: #6b7280 !important;
}

:host ::ng-deep .p-float-label > .p-inputtext.ng-dirty.ng-invalid {
  border-color: var(--red-500) !important;
}

:host ::ng-deep .p-float-label input:focus ~ label {
  font-size: 14px !important;
}

:host ::ng-deep .p-float-label input.p-filled ~ label {
  font-size: 14px !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
  width: 25%;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  width: 25%;
}

:host ::ng-deep .p-tag.p-tag-info {
  color: var(--surface-600);
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
}

:host ::ng-deep .p-dialog.p-dialog-content {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

:host ::ng-deep .p-tabmenu-nav-content {
  margin: 15px !important;
  border-radius: 15px;
  border: 1px solid var(--surface-border);
}

.info-section {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

  .info-section i {
    font-size: 35px;
    color: #007bff;
    margin-right: 16px;
  }


  .info-section .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  .info-section h4 {
    margin-bottom: 8px;
  }

  .info-section .fs-6 {
    font-size: 16px;
    color: #6c757d;
    padding-right: 1.75rem;
  }

  .info-section button {
    margin-left: 16px;
  }


.auth-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fancy-option.selected {
  background: #d0d0d0;
}

.fancy-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  transition: background 0.3s ease;
}

  .fancy-option:hover {
    background: #e0e0e0;
  }

.icon {
  font-size: 24px;
  margin-right: 1rem;
}

.p-field-radiobutton .p-radiobutton {
  display: none; /* Hide the radio circle */
}

.p-field-radiobutton label {
  margin: 0;
  display: flex;
  align-items: center;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.qr-code-img {
  max-width: 100%;
  height: auto;
}

.warning-box {
  background: #ffecb3;
  border-left: 5px solid #ffc107;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

.wide-input {
  width: 100%;
}

p-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}



/* Overlay for the loading spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it covers the rest of the content */
}

/* Spinner style */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:host ::ng-deep .p-password-input {
  width: 100% !important;
}

:host ::ng-deep .p-password {
  width: 100% !important;
}

:host ::ng-deep .p-tag-value {
  padding: 1px 5px !important;
  border-radius: 5px !important;
  font-size: 13px;
  font-weight: normal;
}


textarea[pInputTextarea]:enabled:hover,
textarea[pInputTextarea]:enabled:focus,
textarea[pInputTextarea]:enabled:active {
  border-color: var(--cyan-700) !important;
  outline: none;
}


::ng-deep .p-multiselect {
  width: 100% !important;
}
.spinner-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .p-tooltip .p-tooltip-text {
  width: 300px;
}
@media(max-width:600px) {
  :host ::ng-deep .p-dialog .p-dialog-content {
    width: 98vw !important;
    height: 60vh !important;
    margin: 0px 10px 0px 10px;
  }
  :host ::ng-deep .p-dialog-draggable .p-dialog-header {
    width: 98vw !important;
    margin: 5px 10px 0px 10px;
  }
}

.custom-width-button {
  width: 100px; /* Set your desired width */
  height: 45px;
}

.custom-margin {
  margin:-15px 0px 0px 0px !important;
}

:host ::ng-deep .p-overlay{
    max-width:100% !important;
}

:host ::ng-deep .p-tabview {
  padding: 1.25rem !important;
}
:host ::ng-deep .p-tabview-panels {
  border-radius: 0px 0px 15px 15px !important;
}
:host ::ng-deep .p-tabview-nav-content {
  border-radius: 15px 15px 0px 0px !important;
}

p-treeTable td {
  max-width: 300px; /* Optional: Limit the width of cells for better wrapping */
  overflow-wrap: break-word; /* Ensures long words or unbroken text wraps */
  word-break: break-word; /* Forces word wrapping */
}
@media(max-width:997px) {
  :host ::ng-deep .p-element.p-ripple.p-button-raised.p-button.p-component.p-button-costum {
    margin: 10px 0px 0px 10px !important;
  }
}
.p-button {
  padding: 0 !important;
}
.p-footer-flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 20px;
  margin-top: 30px;
}
:host ::ng-deep .custom-height {
  height: auto !important;
}
