.notifications {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
}

  .notifications .bell-container {
    position: relative;
    display: inline-block;
  }

  .notifications .pi-bell {
    font-size: 24px;
    cursor: pointer;
    color: darkblue;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }

  /* .notifications .pi-bell:hover {
   background-color: black;
   color: white;
} */

  .notifications .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none;
  }

    .notifications .badge.show {
      display: block;
    }

.notifications-dropdown {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 500px;
  margin-top: 5px;
  display: none;
  font-size: 0.9rem;
}

.notifications .notifications-dropdown {
  display: block;
  max-width: 80%;
}

.notifications-dropdown .header {
  background: radial-gradient(circle, #183462 -12%, 87%, rgba(5, 28, 72, 1) 200%, rgba(5, 28, 72, 1) 0%);
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: white;
  font-size: 1.2rem;
}

.notifications-dropdown .tabs {
  display: flex;
  cursor: pointer;
}

.notifications-dropdown .tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
}

  .notifications-dropdown .tab.active {
    background-color: #d0d0d0;
    font-weight: bold;
  }

.notifications-dropdown .tab-content {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.notifications-dropdown .notification-item {
  position: relative; /* Positioning for the close button */
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

  .notifications-dropdown .notification-item:last-child {
    border-bottom: none;
  }

.notification-item p {
  margin: 0;
}

.notification-item small {
  color: #999;
}

.notification-item:hover {
  background-color: #f0f0f0;
}

.button-container {
  position: absolute;
  right: 10px; /* Aligns the button to the right within the notification item */
  top: 50%;
  transform: translateY(-50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.notification-item:hover .button-container {
  opacity: 1; /* Show the button on hover */
}

.close-button {
  width: 25px;
  height: 25px;
  font-size: 16px;
  color: red;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease, background-color 0.3s ease;
}

  .close-button:hover {
    border: 0.5px solid red;
  }

@media screen and (max-width: 470px) {

  .notifications-dropdown {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 300px;
    margin-top: 5px;
    display: none;
    font-size: 0.9rem;
  }
}

