<style>
 /* .scroll-y {
    max-height: 325px;
    overflow-y: auto;
  }

  .btn-light-danger {
    background-color: #f8d7da;
    border: none;
    color: #dc3545;
    transition: all 0.3s ease;
  }

    .btn-light-danger:hover {
      background-color: #dc3545;
      color: white;
    }*/
  ::ng-deep app-keenicon[name="trash"] span {
    color: red !important;
    font-size: 24px !important;
  }
  ::ng-deep app-keenicon[name="clipboard"] span {
    color: black !important;
    font-size: 24px !important;
  }
  ::ng-deep app-keenicon[name="abstract-49"] span {
    color: black !important;
    font-size: 24px !important;
  }
  ::ng-deep app-keenicon[name="abstract-40"] span {
    color: black !important;
    font-size: 24px !important;
  }
  ::ng-deep app-keenicon[name="cross"] span {
    color: black !important;
    font-size: 24px !important;
  }
   ::ng-deep app-keenicon[reflect-name="cross"] span {
    color: black !important;
    font-size: 24px !important;
  }
  ::ng-deep .ki-cross {
    color:  #ff0000 !important;
    font-size: 24px !important;
  }
  ::ng-deep .ki-abstract-40 {
    color: #ffa500 !important;
    font-size: 24px !important;
  }
  ::ng-deep .ki-clipboard {
    color: black !important;
    font-size: 24px !important;
  }


  /*stilimet per ikonat e njoftimeve*/
  ::ng-deep .ki-information-3 {
    color: #ff0000 !important;
    font-size: 20px !important;
  }
  ::ng-deep .ki-information-5 {
    color: #ffa500 !important;
    font-size: 20px !important;
  }
  ::ng-deep .ki-information-2 {
    color: black !important;
    font-size: 20px !important;
  }



  .text-priority-high {
    color: #ff0000 !important; /* Red for High Priority */
  }

  .text-priority-medium {
    color: #ffa500 !important; /* Orange for Medium Priority */
  }
 

  /*.text-priority-low {
    color: #008000 !important;*/ /* Green for Low Priority */
  /*}*/


  #shikoTegjitha {
    color: #2c2f50;
    font-weight: 600;
  }


  .no-hover {
    background-color: var(--bs-primary) !important;
    border: none !important;
  }
</style>

<div id="notificationDiv" style="background-color: var(--bs-primary)"
     class="d-flex flex-column bgi-no-repeat rounded-top">

  <!--<h3 class="text-white fw-bold px-9 mt-10 mb-6">
    Njoftimet <span class="fs-8 opacity-75 ps-3">{{ newNotifications.length + oldNotifications.length }}</span>

  </h3>-->
  <div class="d-flex justify-content-between align-items-center px-9">
    <h3 class="text-white fw-bold fw-bold pr-9 my-5"> 
      Njoftimet <span class="fs-8 opacity-75 ps-3">{{ newNotificationsCount + oldNotificationsCount }}</span>
    </h3>
    <!--<button class="btn btn-sm btn-light text-dark no-hover" (click)="refreshNotifications()" style="background-color: var(--bs-primary)" title="Refresh">-->
    <div pTooltip="Refresh" tooltipPosition="top" (click)="refreshNotifications()">
      <i style="color:white; cursor: pointer;" class="bi bi-arrow-clockwise"></i>
    </div>

    <!--</button>-->
  </div>
  <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">

    <li class="nav-item">
      <a class="
          nav-link
          text-white
          opacity-75 opacity-state-100
          pb-4
          cursor-pointer
        "
         data-bs-toggle="tab"
         [ngClass]="activeTabId === 'kt_topbar_notifications_2' ? 'active' : ''"
         (click)="setActiveTabId('kt_topbar_notifications_2')">
        Të reja({{ newNotificationsCount }})
      </a>
    </li>

    <li class="nav-item">
      <a class="
          nav-link
          text-white
          opacity-75 opacity-state-100
          pb-4
          cursor-pointer
        "
         data-bs-toggle="tab"
         [ngClass]="activeTabId === 'kt_topbar_notifications_3' ? 'active' : ''"
         (click)="setActiveTabId('kt_topbar_notifications_3')">
        Të lexuara({{ oldNotificationsCount }})
      </a>
    </li>
  </ul>
</div>

<div class="tab-content">

  <!--FILLIM- Div per njoftimet e reja -->
  <!--<div class="tab-pane fade"
       id="kt_topbar_notifications_2"
       role="tabpanel"
       [ngClass]="activeTabId === 'kt_topbar_notifications_2' ? 'show active' : ''">

    <div *ngIf="newNotifications.length > 0" class="text-end py-3 pe-3">
      <a id="shikoTegjitha" (click)="markAllAsRead()" class="btn btn-sm">
        <i class="pi pi-check me-2"></i>Lexo të gjitha
      </a> 
    </div>
     
    <div class="scroll-y" [ngStyle]="{'max-height': showAllNotifications ? '500px' : '325px', 'min-height': '200px'}" my-5 px-4>
      <div *ngIf="newNotifications.length === 0" class="text-center py-5">
        <p>Nuk ka njoftime të reja</p>
      </div>

      <div *ngFor="let new of showAllNotifications ? newNotifications : (newNotifications | slice:0:5)"
           class="d-flex flex-column pb-3 border-bottom ml-5 mr-5 ">

        <div class="d-flex align-items-center me-1 flex-grow-2">
          <app-keenicon style="color: var(--bs-primary)" [name]="getIconForPriority(new.state)" class="fs-8 me-3"></app-keenicon>

          <div class="d-flex flex-column"> 
            <a class="text-gray-800 text-hover-primary cursor-pointer"
               style="word-break: break-word; overflow-wrap: break-word;"
               [ngClass]="getTextClassForPriority(new.state)"
               (click)="onNotificationClick(new)">-->

              <!-- Notification Header -->
              <!--<span class="d-block fw-bold" style="font-size: 12px;"  >
                {{ new.notificationHeader }}
              </span>--> 
              <!-- Notification Message -->
              <!--<span class="d-block text-wrap" style="font-size: 12px;"  >
                {{ new.description.length > 350 ? (new.description | slice:0:350) + '...' : new.description }}
              </span> 
            </a> 
            <span class="badge fs-8 mt-1">{{ getTimeAgo(new.time) }}</span>
          </div> 
        </div>
      </div>
    </div>
     
    <div  class="py-3 text-center border-top">
      <a (click)="toggleNotifications()" class="btn btn-color-gray-600 btn-active-color-primary">
        Shiko të gjitha njoftimet
        <app-keenicon [name]="showAllNotifications ? 'arrow-left' : 'arrow-right'" class="fs-5"></app-keenicon>
      </a>
    </div>

  </div>-->
  
  <!--<div class="tab-pane fade"
       id="kt_topbar_notifications_3"
       role="tabpanel"
       [ngClass]="activeTabId === 'kt_topbar_notifications_3' ? 'show active' : ''">

    <div class="scroll-y" [ngStyle]="{'max-height': showAllOldNotifications ? '400px' : '325px', 'min-height': '200px'}" my-5 px-4>

      <div *ngIf="oldNotifications.length === 0" class="text-center py-5">
        <p>Nuk ka njoftime të lexuara</p>
      </div>

      <div *ngFor="let old of showAllOldNotifications ? oldNotifications : (oldNotifications | slice:0:5)"
           class="d-flex flex-column pt-3 border-bottom mx-5 mb-2">

        <div class="d-flex align-items-center me-1 flex-grow-2">
          <app-keenicon style="color: var(--bs-primary)" [name]="getIconForPriority(old.state)" class="fs-8 me-3"></app-keenicon>

          <div class="d-flex flex-column"> 
            <a class="text-gray-800 text-hover-primary cursor-pointer text-wrap"
               [ngClass]="getTextClassForPriority(old.state)"
               style="word-break: break-word; overflow-wrap: break-word; font-size: 12px;" (click)="onOldNotificationClick(old)">
              <span class="fw-bold text-gray-800 " style="font-size: 12px;" [ngClass]="getTextClassForPriority(old.state)">
                {{old.notificationHeader}}
              </span>
              <span class="text-gray-800 " style="font-size: 12px; display: block;" [ngClass]="getTextClassForPriority(old.state)">
                {{ old.description.length > 350 ? (old.description | slice:0:350) + '...' : old.description }}
              </span>
            </a> 
            <span class="badge  fs-8 mt-1">{{ getTimeAgo(old.time) }}</span>
          </div>
        </div>
      </div>
    </div>
 
    <div   class="py-3 text-center border-top">
      <a (click)="toggleNotifications()" class="btn btn-color-gray-600 btn-active-color-primary">
       Shiko të gjitha njoftimet
        <app-keenicon [name]="showAllOldNotifications ? 'arrow-left' : 'arrow-right'" class="fs-5"></app-keenicon>
      </a>
    </div>

  </div>-->
   

</div>
