<ng-container>
  <div class="menu-item">
    <div class="menu-content d-flex align-items-center row">
      <div class="symbol symbol-50px justify-content-center d-flex">
        <img alt="Logo" [src]="userImageUrl" />
      </div>

      <div class="d-flex flex-column mt-2">
        <div class="d-flex align-items-center justify-content-center " style="overflow-wrap:anywhere;width:100%">
          <span class="justify-content-center d-flex" style="width:100%" *ngIf="fullname">
            {{ fullname.length > 25 ? (fullname | slice:0:25) + '...' : fullname }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="separator my-2"></div>

  <div class="menu-item px-4 pb-0 pt-0">
    <a routerLink="/profile" class="menu-link px-3">
      <i class="pi pi-user mr-3"></i>
      Profili Im
    </a>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-4 pt-0 pb-0">
    <a (click)="logout()" class="menu-link px-3 cursor-pointer">
      <i class="pi pi-sign-out mr-3"></i>
      Dil
    </a>
  </div>
</ng-container>
