.user-profile-container {
  /* Ensure the container is centered and responsive */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.field input, .field p {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--surface-border);
  transition: all 0.2s;
}

.bg-gray-100 {
  background-color: var(--surface-100);
}
/* This is a soft override to manage card padding if needed */
:host ::ng-deep .p-card .p-card-content {
  padding: 0;
}
/* Styles for read-only fields */
input[readonly].bg-gray-100 {
  cursor: not-allowed;
  opacity: 0.8;
}
/* Styles for editable fields */
input:not([readonly]) {
  border-color: var(--primary-color);
  background-color: var(--surface-0);
}
