::ng-deep :root, [data-bs-theme=dark] {
  --bs-gray-100: #f9f9f9;
  --bs-gray-100-rgb: 249,249,249;
  --bs-gray-200: #f1f1f4;
  --bs-gray-200-rgb: 241,241,244;
  --bs-gray-300: #dbdfe9;
  --bs-gray-300-rgb: 219,223,233;
  --bs-gray-400: #c4cada;
  --bs-gray-400-rgb: 196,202,218;
  --bs-gray-500: #99a1b7;
  --bs-gray-500-rgb: 153,161,183;
  --bs-gray-600: #78829d;
  --bs-gray-600-rgb: 120,130,157;
  --bs-gray-700: #4b5675;
  --bs-gray-700-rgb: 75,86,117;
  --bs-gray-800: #252f4a;
  --bs-gray-800-rgb: 37,47,74;
  --bs-gray-900: #071437;
  --bs-gray-900-rgb: 7,20,55;
  --bs-light: #f9f9f9;
  --bs-primary: #ee174d;
  --bs-primary2: #166E6D;
  --bs-secondary: #f1f1f4;
  --bs-success: #17c653;
  --bs-info: #c4cada;
  --bs-warning: #f6c000;
  --bs-danger: #f8285a;
  --bs-dark: #1e2129;
  --bs-primary-active: #b70e38;
  --bs-primary-active2: #05a19b;
  --bs-secondary-active: #c4cada;
  --bs-light-active: #f1f1f4;
  --bs-success-active: #04b440;
  --bs-info-active: #5014d0;
  --bs-warning-active: #dead00;
  --bs-danger-active: #d81a48;
  --bs-dark-active: #111318;
  --bs-primary-light: #e9f3ff;
  --bs-secondary-light: #f9f9f9;
  --bs-success-light: #dfffea;
  --bs-info-light: #f8f5ff;
  --bs-warning-light: #fff8dd;
  --bs-danger-light: #ffeef3;
  --bs-dark-light: #f9f9f9;
  --bs-light-light: #fff;
  --bs-primary-inverse: #fff;
  --bs-secondary-inverse: #252f4a;
  --bs-light-inverse: #252f4a;
  --bs-success-inverse: #fff;
  --bs-info-inverse: #fff;
  --bs-warning-inverse: #fff;
  --bs-danger-inverse: #fff;
  --bs-dark-inverse: #fff;
  --bs-primary-clarity: rgba(27,132,255,.2);
  --bs-secondary-clarity: hsla(0,0%,98%,.2);
  --bs-success-clarity: rgba(23,198,83,.2);
  --bs-info-clarity: rgba(114,57,234,.2);
  --bs-warning-clarity: rgba(246,192,0,.2);
  --bs-danger-clarity: rgba(248,40,90,.2);
  --bs-dark-clarity: rgba(30,33,41,.2);
  --bs-light-clarity: hsla(0,0%,100%,.2);
  --bs-light-rgb: 249,249,249;
  --bs-primary-rgb: 27,132,255;
  --bs-secondary-rgb: 241,241,244;
  --bs-success-rgb: 23,198,83;
  --bs-info-rgb: 114,57,234;
  --bs-warning-rgb: 246,192,0;
  --bs-danger-rgb: 248,40,90;
  --bs-dark-rgb: 30,33,41;
  --bs-text-white: #fff;
  --bs-text-primary: #1b84ff;
  --bs-text-secondary: #f1f1f4;
  --bs-text-light: #f9f9f9;
  --bs-text-success: #17c653;
  --bs-text-info: #7239ea;
  --bs-text-warning: #f6c000;
  --bs-text-danger: red;
  --bs-text-dark: #1e2129;
  --bs-text-muted: #99a1b7;
  --bs-text-gray-100: #f9f9f9;
  --bs-text-gray-200: #f1f1f4;
  --bs-text-gray-300: #dbdfe9;
  --bs-text-gray-400: #c4cada;
  --bs-text-gray-500: #99a1b7;
  --bs-text-gray-600: #78829d;
  --bs-text-gray-700: #4b5675;
  --bs-text-gray-800: #252f4a;
  --bs-text-gray-900: #071437;
  --bs-border-color: #f1f1f4;
  --bs-border-dashed-color: #dbdfe9;
  --bs-component-active-color: #fff;
  --bs-component-active-bg: #1b84ff;
  --bs-component-hover-color: #1b84ff;
  --bs-component-hover-bg: #f9f9f9;
  --bs-component-checked-color: #fff;
  --bs-component-checked-bg: #1b84ff;
  --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0,0,0,.05);
  --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0,0,0,.05);
  --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0,0,0,.075);
  --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0,0,0,.1);
  --bs-input-bg: var(--bs-body-bg);
  --bs-input-color: var(--bs-gray-700);
  --bs-input-solid-color: var(--bs-gray-700);
  --bs-input-solid-bg: var(--bs-gray-100);
  --bs-input-solid-bg-focus: var(--bs-gray-200);
  --bs-input-solid-placeholder-color: var(--bs-gray-500);
  --bs-root-card-box-shadow: 0px 3px 4px 0px rgba(0,0,0,.03);
  --bs-root-card-border-color: #f1f1f4;
  --bs-tooltip-box-shadow: 0px 0px 30px rgba(0,0,0,.15);
  --bs-table-striped-bg: rgba(var(--bs-gray-100-rgb),0.75);
  --bs-table-loading-message-box-shadow: 0px 0px 50px 0px rgba(82,63,105,.15);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-box-shadow: 0px 0px 50px 0px rgba(82,63,105,.15);
  --bs-code-bg: #f1f3f8;
  --bs-code-shadow: 0px 3px 9px rgba(0,0,0,.08);
  --bs-code-border-color: transparent;
  --bs-code-color: #b93993;
  --bs-symbol-label-color: var(--bs-gray-800);
  --bs-symbol-label-bg: var(--bs-gray-100);
  --bs-symbol-border-color: rgba(var(--bs-body-bg),0.5);
  --bs-bullet-bg-color: var(--bs-gray-400);
  --bs-scrolltop-opacity: 0;
  --bs-scrolltop-opacity-on: 0.3;
  --bs-scrolltop-opacity-hover: 1;
  --bs-scrolltop-box-shadow: var(--bs-box-shadow);
  --bs-scrolltop-bg-color: var(--bs-primary);
  --bs-scrolltop-bg-color-hover: var(--bs-primary);
  --bs-scrolltop-icon-color: var(--bs-primary-inverse);
  --bs-scrolltop-icon-color-hover: var(--bs-primary-inverse);
  --bs-drawer-box-shadow: 0px 1px 9px -3px rgba(0,0,0,.05);
  --bs-drawer-bg-color: #fff;
  --bs-drawer-overlay-bg-color: rgba(0,0,0,.2);
  --bs-menu-dropdown-box-shadow: 0px 0px 50px 0px rgba(82,63,105,.15);
  --bs-menu-dropdown-bg-color: var(--bs-body-bg);
  --bs-menu-heading-color: #99a1b7;
  --bs-menu-link-color-hover: #1b84ff;
  --bs-menu-link-color-show: #1b84ff;
  --bs-menu-link-color-here: #1b84ff;
  --bs-menu-link-color-active: #1b84ff;
  --bs-menu-link-bg-color-hover: #f9f9f9;
  --bs-menu-link-bg-color-show: #f9f9f9;
  --bs-menu-link-bg-color-here: #f9f9f9;
  --bs-menu-link-bg-color-active: #f9f9f9;
  --bs-scrollbar-color: #f1f1f4;
  --bs-scrollbar-hover-color: #dbdfe9;
  --bs-overlay-bg: rgba(0,0,0,.05);
  --bs-blockui-overlay-bg: rgba(0,0,0,.05);
  --bs-rating-color-default: #c4cada;
  --bs-rating-color-active: #ffad0f;
  --bs-ribbon-label-box-shadow: 0px -1px 5px 0px rgba(30,33,41,.1);
  --bs-ribbon-label-bg: #1b84ff;
  --bs-ribbon-label-border-color: #0053b4;
  --bs-ribbon-clip-bg: #1e2129;
  --bs-engage-btn-bg: #fff;
  --bs-engage-btn-box-shadow: 0px 0px 22px #e0e0e0;
  --bs-engage-btn-border-color: #e8e8e8;
  --bs-engage-btn-color: #252f4a;
  --bs-engage-btn-icon-color: #78829d;
  --bs-engage-btn-color-active: #252f4a;
  // ngjyrat e reja te sistemit
  --red-50: #FDE9EE !important;
  --red-100: #FBD2DD !important;
  --red-200: #F7A6BD !important;
  --red-300: #F47A9C !important;
  --red-400: #F14E7D !important;
  --red-500: #EE174D !important;
  --red-600: #C5123F !important;
  --red-700: #940D2F !important;
  --red-800: #620920 !important;
  --red-900: #310410 !important;
  --yellow-50: #FFFAE9 !important;
  --yellow-100: #FFF4D3 !important;
  --yellow-200: #FEE9A7 !important;
  --yellow-300: #FDDC7C !important;
  --yellow-400: #FCD051 !important;
  --yellow-500: #F7CB50 !important;
  --yellow-600: #D1A63E !important;
  --yellow-700: #A4812F !important;
  --yellow-800: #715921 !important;
  --yellow-900: #3C2F12 !important;
  --green-50: #e6f6f5 !important;
  --green-100: #ccece9 !important;
  --green-200: #99d9d2 !important;
  --green-300: #66c5bb !important;
  --green-400: #33b2a4 !important;
  --green-500: #166E6D !important;
  --green-600: #125755 !important;
  --green-700: #0e3f3e !important;
  --green-800: #092826 !important;
  --green-900: #041413 !important;
  --blue-50: #e6f0fd !important;
  --blue-100: #cce0fb !important;
  --blue-200: #99c2f7 !important;
  --blue-300: #66a3f3 !important;
  --blue-400: #3385ef !important;
  --blue-500: #3b82f6 !important;
  --blue-600: #2e64c1 !important;
  --blue-700: #21478c !important;
  --blue-800: #152c58 !important;
  --blue-900: #09142a !important;
}

:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

::ng-deep .p-component {
  font-family: Poppins !important;
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

::ng-deep .badge-light-success {
  color: var(--bs-success-active);
  background-color: var(--bs-success-clarity);
}

::ng-deep .badge-light-danger {
  color: var(--bs-danger-active);
  background-color: var(--bs-danger-clarity);
}


::ng-deep .p-timeline-event {
  margin: 0.5rem;
}

::ng-deep .p-dropdown {
  background: #ffffff;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  width: 100%;
}

::ng-deep .p-dropdown-items {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  outline-offset: 0px;
  box-shadow: none !important;
  outline: none 0px;
  border-color: none !important;
}

::ng-deep .p-inputtext:enabled:focus {
  outline-offset: 0px;
  box-shadow: none !important;
  outline: none 0px;
  border-color: none !important;
}

::ng-deep .p-inputtext {
  width: 100% !important;
}

::ng-deep .modal-body {
  padding: 2rem !important;
}

::ng-deep .custom-spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

::ng-deep .app-sidebar {
  z-index: 10001 !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem !important;
  word-break: break-word !important;
  white-space: normal !important;
  align-content: center !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td > div {
  max-height: 100px !important;
  overflow-y: auto !important; /* Adds vertical scrolling if content overflows */
  display: block !important;
}

:host ::ng-deep .p-tabmenu-nav-content {
  border-radius: 15px;
  border: 1px solid var(--surface-border);
  margin-bottom: 2rem !important;
}

:host ::ng-deep .p-tabmenu-nav.p-reset {
  margin-bottom: 0 !important;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: var(--bs-primary) !important;
}

::ng-deep .p-inputtext {
  font-family: Poppins !important;
}

::ng-deep .p-tooltip {
  background-color: white !important;
  color: var(--bs-primary) !important;
  border-radius: 5px !important;
}

::ng-deep .p-tooltip .p-tooltip-text {
  color: var(--bs-primary2) !important;
  background: white !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}

::ng-deep .p-button {
  border: none !important;
  border-color: none !important;
  background: none !important;
  color: black !important;
}

::ng-deep .p-button:focus {
  border: none !important;
  border-color: none !important;
  background: none !important;
  color: black !important;
}

::ng-deep .p-button:active {
  border: none !important;
  border-color: none !important;
  background: none !important;
  color: black !important;
}

::ng-deep .p-inputnumber-button-group {
  position: absolute;
  right: 5%;
}

::ng-deep .custom-input-number {
  width: 100% !important;
}

::ng-deep p-inputnumber {
  width: 100% !important;
}

::ng-deep .p-inputnumber {
  width: 100% !important;
}

::ng-deep .p-inputtext {
  width: 100% !important;
  border-radius: 5px;
}

::ng-deep .btn.btn-secondary i {
  color: var(--bs-gray-600) !important;
}

::ng-deep .role-label {
  background-color: var(--bs-primary);
  color: white;
  border-radius: 5px;
  height: 30px;
  align-content: center;
  padding: 5px;
}

::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--bs-primary2) !important;
  background: var(--bs-primary2) !important;
  box-shadow: none;
}

::ng-deep .p-checkbox :hover {
  border-color: var(--bs-primary2) !important;
  box-shadow: none;
}

::ng-deep .p-checkbox :active {
  border-color: var(--bs-primary2) !important;
  box-shadow: none;
}

::ng-deep .p-checkbox :focus {
  border-color: var(--bs-primary2) !important;
  box-shadow: none;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border-color: var(--bs-primary2) !important;
  box-shadow: none;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child {
  word-break: break-word !important;
  white-space: normal !important;
}

::ng-deep .p-treetable .p-treetable-tbody > tr > td {
  word-break: break-word !important;
  white-space: normal !important;
}

::ng-deep .btn-orange-light {
  color: #FF6B00;
  border-color: #FFE8CC;
  background-color: #FFE8CC;
}

::ng-deep .btn-orange-light:hover,
.btn-orange-light:active,
.btn-orange-light:focus {
  background-color: #FF6B00;
  border-color: #FF6B00;
  color: white;
}

::ng-deep .btn-orange-light:hover .btn-icon,
.btn-orange-light:active .btn-icon {
  color: white !important;
}

::ng-deep .btn-green-light {
  color: #2E7D32;
  border-color: #E6F4EA;
  background-color: #E6F4EA;
  transition: all 0.3s ease;
}

::ng-deep .btn-green-light:hover,
.btn-green-light:active,
.btn-green-light:focus {
  background-color: #2E7D32;
  border-color: #2E7D32;
  color: #ffffff;
}

::ng-deep .btn-green-light:hover .btn-icon,
.btn-green-light:active .btn-icon {
  color: #ffffff !important;
}

::ng-deep .btn-purple-light {
  color: #6A1B9A;
  border-color: #F3E5F5;
  background-color: #F3E5F5;
  transition: all 0.3s ease;
}

::ng-deep .btn-purple-light:hover,
.btn-purple-light:active,
.btn-purple-light:focus {
  background-color: #6A1B9A;
  border-color: #6A1B9A;
  color: #ffffff;
}

::ng-deep .btn-purple-light:hover .btn-icon,
.btn-purple-light:active .btn-icon {
  color: #ffffff !important;
}

::ng-deep .p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: white !important;
  background: var(--bs-primary) !important;
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: white !important;
  background: var(--bs-primary) !important;
}

.center-right {
  position: fixed;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  padding: 12px 12px;
  border-radius: 8px;
  box-shadow: -2px 2px 3px rgb(0 0 0 / 20%) !important;
  z-index: 1000;
}

::ng-deep .layout-config-sidebar {
  top: 1% !important;
  position: fixed !important;
  z-index: 1001 !important;
  right: 7% !important;
}

.log-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.log-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  background: #f8f9fa;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  z-index: 1001;
}

.log-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

::ng-deep p-calendar.p-calendar-clearable .p-calendar-clear-icon {
  right: 1.5rem !important;
  top: 0.5rem !important;
}

::ng-deep .p-multiselect {
  background: #ffffff;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  width: 100%;
}

::ng-deep .p-multiselect-items {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

::ng-deep .p-multiselect:not(.p-disabled).p-focus {
  outline-offset: 0px;
  box-shadow: none !important;
  outline: none 0px;
  border-color: none !important;
}

::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  max-width: 35rem !important;
}

::ng-deep .export-pdf:hover {
  background-color: var(--bs-danger-light) !important;
  cursor: pointer !important;
}

::ng-deep .export-pdf i {
  color: var(--bs-danger) !important;
}

::ng-deep .export-excel i {
  color: var(--bs-success-active) !important;
}

::ng-deep .export-excel:hover {
  background-color: var(--bs-success-clarity) !important;
  cursor: pointer !important;
}

::ng-deep .export-custom {
  font-size: 20px !important;
  margin: 5px !important;
}

::ng-deep .custom-dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  display: none;
  min-width: 150px;
  z-index: 1000;
  border-radius: 0.475rem !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

::ng-deep .form-check-label {
  color: rgb(0 0 0 / 89%);
}

::ng-deep .form-check-input {
  border: 2px solid var(--bs-primary2) !important;
}

::ng-deep .form-check-input:checked {
  background-color: var(--bs-primary2) !important;
  border-color: var(--bs-primary2) !important;
}

::ng-deep .p-confirm-dialog .btn.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #fff !important;
}



::ng-deep .p-confirm-dialog .btn.btn-secondary {
  color: black !important;
  background-color: #f1f1f4 !important;
  border-color: #f1f1f4 !important;
}

::ng-deep .custom-table-item-scroll {
  height: 80px !important;
  max-height: 80px !important;
  overflow-y: auto;
  display: block !important;
  word-break: break-word !important;
  white-space: normal !important;
  align-content: center !important;
}

::ng-deep .p-datepicker table td > span {
  width: 2rem !important;
  height: 2rem !important;
}

::ng-deep .p-datepicker table {
  font-size: 0.8rem !important;
}

:host ::ng-deep .p-treetable tbody tr:nth-child(odd) {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

:host ::ng-deep .p-treetable tbody tr:nth-child(even) {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

:host ::ng-deep .p-treetable tbody tr:hover {
  background-color: var(--green-50);
}

:host ::ng-deep .p-overlay.p-component {
  width: -webkit-fill-available !important;
}

::ng-deep .btn.btn-danger {
  color: var(--bs-danger-inverse) !important;
  background-color: var(--bs-danger) !important;
}

::ng-deep .btn-light-orange {
  color: #ff9800;
  border-color: #ffe0b2 !important;
  background-color: #fff3e0 !important;
}

::ng-deep .btn-light-orange:hover {
  color: #fff !important;
  border-color: #ff9800 !important;
  background-color: #ff9800 !important;
}

::ng-deep .btn-light-orange:active,
::ng-deep .btn-light-orange:focus {
  color: #fff !important;
  border-color: #f57c00 !important;
  background-color: #f57c00 !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #4b5563 !important;
  background: var(--bs-gray-200) !important;
}

::ng-deep .p-multiselect-item {
  word-break: break-word !important;
  white-space: normal !important;
}
// butoni primary ngjyra sistemit
::ng-deep .btn.btn-light-primary i {
  color: var(--green-600) !important;
}

::ng-deep .btn.btn-light-primary {
  background-color: var(--green-100) !important;
}

::ng-deep .btn.btn-light-primary:focus:not(.btn-active) {
  background-color: var(--green-500) !important
}

::ng-deep .btn.btn-light-primary:hover:not(.btn-active) {
  background-color: var(--green-500) !important
}

::ng-deep .btn.btn-light-primary:focus:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-light-primary:hover:not(.btn-active) i {
  color: white !important
}

::ng-deep .app-sidebar .menu .menu-item .menu-link:hover {
  transition: color 0.2s ease;
  background-color: rgba(153, 153, 153, 0.2);
  color: #F5F5F5;
}
// butoni me ngjyre te verdhe
::ng-deep .btn.btn-light-warning i {
  color: var(--yellow-600) !important;
}

::ng-deep .btn.btn-light-warning {
  background-color: var(--yellow-100) !important;
}

::ng-deep .btn.btn-light-warning:focus:not(.btn-active) {
  background-color: var(--yellow-500) !important
}

::ng-deep .btn.btn-light-warning:hover:not(.btn-active) {
  background-color: var(--yellow-500) !important
}

::ng-deep .btn.btn-light-warning:focus:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-light-warning:hover:not(.btn-active) i {
  color: white !important
}
// butoni me ngjyre blu
::ng-deep .btn.btn-light-info i {
  color: var(--blue-600) !important;
}

::ng-deep .btn.btn-light-info {
  background-color: var(--blue-100) !important;
}

::ng-deep .btn.btn-light-info:focus:not(.btn-active) {
  background-color: var(--blue-500) !important
}

::ng-deep .btn.btn-light-info:hover:not(.btn-active) {
  background-color: var(--blue-500) !important
}

::ng-deep .btn.btn-light-info:focus:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-light-info:hover:not(.btn-active) i {
  color: white !important
}
// butoni fshirjes me ngjyre te kuqe si sistemi
::ng-deep .btn.btn-light-danger i {
  color: var(--red-600) !important;
}

::ng-deep .btn.btn-light-danger {
  background-color: var(--red-100) !important;
}

::ng-deep .btn.btn-light-danger:focus:not(.btn-active) {
  background-color: var(--red-500) !important
}

::ng-deep .btn.btn-light-danger:hover:not(.btn-active) {
  background-color: var(--red-500) !important
}

::ng-deep .btn.btn-light-danger:focus:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-light-danger:hover:not(.btn-active) i {
  color: white !important
}
// butoni sekondar me ngjyren gri
::ng-deep .btn.btn-secondary i {
  color: var(--gray-600) !important;
}

::ng-deep .btn.btn-secondary {
  background-color: var(--gray-100) !important;
}

::ng-deep .btn.btn-secondary:focus:not(.btn-active) {
  background-color: var(--gray-400) !important
}

::ng-deep .btn.btn-secondary:hover:not(.btn-active) {
  background-color: var(--gray-400) !important
}

::ng-deep .btn.btn-secondary:focus:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-secondary:hover:not(.btn-active) i {
  color: white !important
}

::ng-deep .btn.btn-secondary:hover:not(.btn-active) {
  color: white !important
}

::ng-deep .btn.btn-secondary:active i {
  color: white !important
}
// statuset me ngjyrat e sistemit
::ng-deep .badge-light-success {
  color: var(--green-500);
  background-color: var(--green-100);
}

::ng-deep .badge-light-danger {
  color: var(--red-500);
  background-color: var(--red-100);
}

::ng-deep .badge-light-info {
  color: var(--blue-500);
  background-color: var(--blue-100);
}

::ng-deep .badge-light-warning {
  color: var(--yellow-600);
  background-color: var(--yellow-100);
}
// paginator i tabelave me ngjyren e sistemit
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--green-50);
  border-color: var(--green-50);
  color: var(--green-500);
}

::ng-deep .p-paginator .p-paginator-first:hover {
  background: var(--green-50);
  border: 0 none;
  color: var(--green-500);
}

::ng-deep .p-paginator .p-paginator-prev:hover {
  background: var(--green-50);
  border: 0 none;
  color: var(--green-500);
}

::ng-deep .p-paginator .p-paginator-next:hover {
  background: var(--green-50);
  border: 0 none;
  color: var(--green-500);
}

::ng-deep .p-paginator .p-paginator-last:hover {
  background: var(--green-50);
  border: 0 none;
  color: var(--green-500);
}
// butoni konfirmo ne modale
::ng-deep .p-confirm-dialog .btn.btn-primary {
  background-color: var(--green-100) !important;
  border-color: var(--green-100) !important;
  color: var(--bs-primary2) !important;
}

::ng-deep .p-confirm-dialog .btn.btn-primary:hover {
  background-color: var(--bs-primary2) !important;
  border-color: var(--bs-primary2) !important;
  color: #fff !important;
}

::ng-deep .p-confirm-dialog .btn.btn-primary:focus {
  background-color: var(--bs-primary2) !important;
  border-color: var(--bs-primary2) !important;
  color: #fff !important;
}
// selektimi i institucioneve
:host ::ng-deep .custom-chip-container {
  display: block;
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  text-overflow: ellipsis !important;
  height: 100% !important;
  white-space: nowrap !important;
  min-width: 0;
}

:host ::ng-deep .custom-chip {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  background-color: var(--red-500) !important;
  border-radius: 12px;
  padding: 0 0.75rem;
  margin-right: 0.5rem;
  height: 1.5rem;
  white-space: nowrap !important;
  max-width: 98% !important;
  color: white;
}

:host ::ng-deep .custom-chip-label {
  display: inline-block;
  width: -webkit-fill-available;
  overflow: hidden;
}


:host ::ng-deep .custom-chip-remove {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: white !important;
  transition: color 0.2s;
}

:host ::ng-deep .custom-chip-remove:hover {
  color: white !important;
}

:host ::ng-deep .custom-chip-placeholder {
  color: white !important;
  padding-left: 0.5rem;
}
// headeri tabeles me ngjyren e sistemit
::ng-deep thead tr th:first-child {
  border-top-left-radius: 10px;
}

::ng-deep thead tr th:last-child {
  border-top-right-radius: 10px;
}

::ng-deep th {
  background: var(--green-500);
  color: white;
}

::ng-deep .p-datatable tbody tr:hover {
  background-color: var(--green-50) !important;
}
//datepicker
::ng-deep .p-datepicker-today > span {
  background: var(--red-400) !important;
  color: white !important;
}
//scrollbar
::ng-deep main, span, ol, ul, pre, div {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-scrollbar-color) transparent;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: var(--bs-primary2) !important;
  color: var(--gray-900) !important;
}

::ng-deep .p-tabview .p-tabview-nav .p-tabview-nav-link {
  background: #ffffff;
  color: var(--gray-900) !important;
}

::ng-deep .required:after {
  color: #ee174d !important;
}
