<p-blockUI [blocked]="isLoading">
  <p-progressSpinner *ngIf="isLoading" styleClass="custom-spinner"></p-progressSpinner>
</p-blockUI>
<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <ng-container *ngIf="appHeaderDisplay">
      <!--begin::Header-->
      <app-header [ngClass]="appHeaderDefaultClass" id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '0'}" data-kt-sticky-animation="false">
      </app-header>
      <!--end::Header-->
    </ng-container>

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">

      <ng-container *ngIf="appSidebarDisplay">
        <!--begin::sidebar-->
        <app-sidebar #ktSidebar id="kt_app_sidebar" class="app-sidebar flex-column" style="background: var(--bs-primary2)" [ngClass]="appSidebarDefaultClass">
        </app-sidebar>
        <!--end::sidebar-->
      </ng-container>

      <ng-container *ngIf="appSidebarPanelDisplay">
        <!-- TODO: app sidebar panel -->
      </ng-container>
      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          <app-content id=" kt_app_content" class="app-content mt-4" [ngClass]="contentCSSClasses"
                       [contentContainerCSSClass]="contentContainerCSSClass" [appContentContiner]="appContentContiner"
                       [appContentContainerClass]="appContentContainerClass">
          </app-content>
        </div>
        <!--end::Content wrapper-->
        <ng-container *ngIf="appFooterDisplay">
          <app-footer class="app-footer" [ngClass]="appFooterCSSClass" id="kt_app_footer"
                      [appFooterContainerCSSClass]="appFooterContainerCSSClass"></app-footer>
        </ng-container>
      </div>
      <!--end:::Main-->
    </div>
    <!--end::Wrapper-->

  </div>
  <!--end::Page-->
</div>
<!--end::App-->

<app-scripts-init></app-scripts-init>
<ng-container>
  <app-scroll-top id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true"></app-scroll-top>
</ng-container>
<!-- begin:: Drawers -->
<app-activity-drawer></app-activity-drawer>
<app-messenger-drawer></app-messenger-drawer>
<!-- end:: Drawers -->
<!-- end:: Engage -->
<app-engages></app-engages>
<!-- end:: Engage -->
<!-- begin:: Modals -->
<app-main-modal></app-main-modal>
<app-invite-users-modal></app-invite-users-modal>
<app-upgrade-plan-modal></app-upgrade-plan-modal>
<!-- end:: Modals -->

<!--<button *ngIf="hasPermission('Logs')" class="btn btn-icon btn-light-primary center-right" (click)="onClickLogs()">
  <i class="pi pi-cog fs-2 flex justify-content-center"></i>
</button>-->

<p-sidebar *ngIf="visibleLogs" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
           [style]="{
    'top': '0',
    'right': '0',
    'height': '100vh',
    'width': '350px',
    'position': 'fixed',
    'z-index': '1051',
    'background': '#f8f9fa',
    'box-shadow': '-3px 0 10px rgba(0,0,0,0.2)',
    'border-radius': '10px',
    'overflow-y': 'auto'
  }">
  <div class="log-header">
    <h6 class="log-title">Log-et</h6>
    <button (click)="visibleLogs = false" class="log-button-close">
      <i class="pi pi-times fs-5"></i>
    </button>
  </div>
  <p-timeline [value]="logs" [style]="{'width' : '300px' , 'justify-contet': 'center','top':'100px', 'position':'absolute'}">
    <ng-template pTemplate="content" let-log>
      <div>
        <strong>{{ log.name }}</strong>
        <br />
        <small>{{ log.description }}</small>
        <br />
        <small>{{ log.date | date:"dd/MM/yyyy HH:mm" }}</small>
      </div>
    </ng-template>
    <ng-template pTemplate="opposite" let-log>
      <b>IP </b> {{ log.ip }}
    </ng-template>
  </p-timeline>
  <br />
  <br />
  <br />
  <a (click)="navigateToLogs()" style="cursor: pointer; text-decoration: none;"
     onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'"><h6 class="p-3">Klikoni këtu pë të parë të gjithë log-et...</h6></a>
</p-sidebar>
<div class="modal-backdrop fade show" *ngIf="visibleLogs"></div>
