.language-selector-wrapper {
  position: absolute;
  top: 2%;
  right: 10%;
  z-index: 1000;
}

.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

  .language-selector .flag {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}

.language-selector .dropdown {
  position: absolute;
  top: 40px;
  left: -3vw;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.language-selector .dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

  .language-selector .dropdown-item:hover,
  .language-selector .dropdown-item.selected {
    background-color: #f0f0f0;
  }

  .language-selector .dropdown-item .flag {
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }


.sso-button-white {
  background-color: white;
  color: #096777;
  border: 2px solid #096777;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  padding: 15px 20px;
}

  .sso-button-white:hover {
    background-color: #e0f7fa;
    transform: translateY(-2px);
  }

.sso-logo-white {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
  transform: scale(1.6);
  margin-right: 1rem;
  color: var(--primary-color) !important;
}

#MainDiv {
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(180deg, #183462 10%, rgba(33, 150, 243, 0) 100%);
  margin-top: 15px;
}

:host ::ng-deep .p-password-input {
  width: 100% !important;
}

:host ::ng-deep .p-password {
  width: 100% !important;
  margin-bottom:0px !important;
}




@media screen and (max-width: 620px) {
  .mobile {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}

@media screen and (min-width: 1002px) {
  .small-screen {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 80%;
  }
}

@media screen and (min-width: 1555px) {
  .medium-screen {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 45%;
  }
}


@media screen and (min-width: 1992px) {
  .large-screen {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 35%;
  }
}

.min-h-screen {
  min-height: 95.5vh !important;
}
.min-w-screen{
    min-width:auto !important
}


@media(max-width:800px) {
  .language-selector .dropdown {
    left: -16vw !important;
  }
}
@media(max-width:400px) {
  .language-selector .dropdown {
    left: -22vw !important;
  }
}
@media(max-width:1250px) {
  .language-selector .dropdown {
    left: -10vw;
  }
 
  }

@media(max-width:650px) {
  .language-selector .dropdown {
    top: 5%;
  }
}
.sso-logo-white2 {
  position: absolute;
  left: 10px; /* Adjust as needed to align with the left edge */
  height: 24px; /* Adjust size as needed */
}
.sso-label2 {
  text-align: center;
  flex: 1;
}
